.page {
  align-items: center;
  overflow: hidden;
}

.page#bg1 {
  background-image: url("../img/portrait/hawaii.jpg");
}

.photobox {
  padding: 50px;
  margin: 150px 50px 50px 50px;
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 1800px;
}

.photobox h1 {
  margin: 0;
}

.photobox div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.photobox img {
  width: 300px;
  margin: 30px;
  border: 10px solid #fff;
  box-shadow: 0 0 20px #9999;
  transition: 0.2s;
}

.photobox img.portrait {
  height: 300px;
  width: auto;
}

.photobox img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.photobox img:hover {
  transform: scale(1.05);
}

#popup {
  width: 50vw;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  transform: translateY(100vh);
  cursor: pointer;
  transition: 0.4s;
  opacity: 0;
}

#overlay.active {
  transform: translateY(0);
  opacity: 1;
}

#popup.active {
  transform: translateY(0);
}
